*.retry
*.3gp
*.doc
*.ico
*.jpg
*.mp4
*.pdf
*.png
*.rtf
/.stfolder
/.pijul

**/*~
**/*.bk
**/target

__pycache__
.ruff_cache
.pijul
.git
.DS_Store

assets/*tf
/Books/
/Desktop/
/Pictures/
/bin/
/config/dotconfig/mpv/watch_later
/config/kub/eap.task
/config/mpd_sticker
/config/packettracer/
/config/vorme/
/dossiers/
/secrets/
/trail/*.html
desktop.ini
