*.3gp
*.doc
*.ico
*.jpg
*.mp4
*.png
*.rtf
/.dropbox
/.dropbox.cache/
/.stfolder
/Books/
/Camera Uploads/
/Desktop/
/config/.config/MusicBrainz/
/config/.config/mpv/watch_later/
/config/.emacs.d/
/config/.gnupg/
/config/.lesshst
/config/.smex-items
/config/.ssh/known_hosts
/config/emacs.el
/config/mpd_sticker
/config/packettracer/
/fedevel pcb course/
/playlists/
/secrets/
/trail/*.html
desktop.ini
/bin/
/config/vorme/tmp/
/config/vorme/usr/
