[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
        update = rebase
[submodule "emacs-prelude"]
	path = emacs-prelude
	url = git://github.com/bbatsov/prelude.git
        update = rebase
