*.3gp
*.doc
*.ico
*.jpg
*.mp4
*.pdf
*.png
*.rtf
/.stfolder
/Books/
/Desktop/
/Pictures/
/bin/
/config/dotconfig/mpv/watch_later
/config/emacs.el
/config/kub/eap.task
/config/mpd_sticker
/config/packettracer/
/config/vorme/
/dossiers/
/secrets/
/trail/*.html
desktop.ini
