[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = git://github.com/nicoulaj/zsh-syntax-highlighting.git
[submodule "emacs-dev-kit"]
	path = emacs-dev-kit
	url = https://github.com/bbatsov/emacs-dev-kit.git
