<configuration version="10">
    <folder id="Dropbox" path="/home/hdhoang/Dropbox" ro="false" rescanIntervalS="60" ignorePerms="false" autoNormalize="true">
        <device id="ELBPNTY-FE47TXX-MCKSMLM-ZCQ75MX-HZUTTOK-VZQUOKT-NI2QFFF-Y4ONTAX"></device>
        <device id="5WP542P-KV7DD2B-4LWEXJD-5JPJLQT-XPS5V6A-XYB3BXP-GUVX67E-Z7SYEQF"></device>
        <versioning></versioning>
        <copiers>1</copiers>
        <pullers>16</pullers>
        <hashers>0</hashers>
        <order>smallestFirst</order>
    </folder>
    <folder id="Music" path="/home/hdhoang/Music" ro="false" rescanIntervalS="60" ignorePerms="false" autoNormalize="true">
        <device id="ELBPNTY-FE47TXX-MCKSMLM-ZCQ75MX-HZUTTOK-VZQUOKT-NI2QFFF-Y4ONTAX"></device>
        <device id="5WP542P-KV7DD2B-4LWEXJD-5JPJLQT-XPS5V6A-XYB3BXP-GUVX67E-Z7SYEQF"></device>
        <versioning></versioning>
        <copiers>1</copiers>
        <pullers>16</pullers>
        <hashers>0</hashers>
        <order>smallestFirst</order>
    </folder>
    <folder id="NMusic" path="/home/hdhoang/Music/_new" ro="false" rescanIntervalS="60" ignorePerms="false" autoNormalize="true">
        <device id="4HYEBSB-OKMZG2S-PAKTRHN-QP5VS4T-64IQD7V-AKYTIAL-ZBQNQXJ-I3REAAB"></device>
        <device id="5WP542P-KV7DD2B-4LWEXJD-5JPJLQT-XPS5V6A-XYB3BXP-GUVX67E-Z7SYEQF"></device>
        <versioning></versioning>
        <copiers>1</copiers>
        <pullers>16</pullers>
        <hashers>0</hashers>
        <order>smallestFirst</order>
    </folder>
    <folder id="Videos" path="/home/hdhoang/Videos" ro="false" rescanIntervalS="60" ignorePerms="false" autoNormalize="true">
        <device id="ELBPNTY-FE47TXX-MCKSMLM-ZCQ75MX-HZUTTOK-VZQUOKT-NI2QFFF-Y4ONTAX"></device>
        <device id="4HYEBSB-OKMZG2S-PAKTRHN-QP5VS4T-64IQD7V-AKYTIAL-ZBQNQXJ-I3REAAB"></device>
        <device id="5WP542P-KV7DD2B-4LWEXJD-5JPJLQT-XPS5V6A-XYB3BXP-GUVX67E-Z7SYEQF"></device>
        <versioning></versioning>
        <copiers>1</copiers>
        <pullers>16</pullers>
        <hashers>0</hashers>
        <order>smallestFirst</order>
    </folder>
    <folder id="books" path="/home/hdhoang/Dropbox/Books" ro="false" rescanIntervalS="60" ignorePerms="false" autoNormalize="true">
        <device id="4HYEBSB-OKMZG2S-PAKTRHN-QP5VS4T-64IQD7V-AKYTIAL-ZBQNQXJ-I3REAAB"></device>
        <device id="5WP542P-KV7DD2B-4LWEXJD-5JPJLQT-XPS5V6A-XYB3BXP-GUVX67E-Z7SYEQF"></device>
        <versioning></versioning>
        <copiers>1</copiers>
        <pullers>16</pullers>
        <hashers>0</hashers>
        <order>smallestFirst</order>
    </folder>
    <folder id="dl" path="~/Downloads" ro="false" rescanIntervalS="60" ignorePerms="false" autoNormalize="true">
        <device id="ELBPNTY-FE47TXX-MCKSMLM-ZCQ75MX-HZUTTOK-VZQUOKT-NI2QFFF-Y4ONTAX"></device>
        <device id="5WP542P-KV7DD2B-4LWEXJD-5JPJLQT-XPS5V6A-XYB3BXP-GUVX67E-Z7SYEQF"></device>
        <versioning></versioning>
        <copiers>1</copiers>
        <pullers>16</pullers>
        <hashers>0</hashers>
        <order>smallestFirst</order>
    </folder>
    <folder id="hien-dropbox" path="/home/hdhoang/hien-dropbox" ro="false" rescanIntervalS="60" ignorePerms="false" autoNormalize="true">
        <device id="ACIPBTG-DR3ETXY-PK2MQ52-324PWF3-ACU4Y6W-XQLEZVD-2VXWEMO-XLZCHAQ"></device>
        <device id="5WP542P-KV7DD2B-4LWEXJD-5JPJLQT-XPS5V6A-XYB3BXP-GUVX67E-Z7SYEQF"></device>
        <versioning></versioning>
        <copiers>0</copiers>
        <pullers>0</pullers>
        <hashers>0</hashers>
        <order>random</order>
    </folder>
    <folder id="pictures" path="/home/hdhoang/hien-pictures" ro="false" rescanIntervalS="60" ignorePerms="false" autoNormalize="true">
        <device id="ACIPBTG-DR3ETXY-PK2MQ52-324PWF3-ACU4Y6W-XQLEZVD-2VXWEMO-XLZCHAQ"></device>
        <device id="5WP542P-KV7DD2B-4LWEXJD-5JPJLQT-XPS5V6A-XYB3BXP-GUVX67E-Z7SYEQF"></device>
        <versioning></versioning>
        <copiers>0</copiers>
        <pullers>0</pullers>
        <hashers>0</hashers>
        <order>random</order>
    </folder>
    <folder id="work" path="/home/hdhoang/hien-work" ro="false" rescanIntervalS="60" ignorePerms="false" autoNormalize="true">
        <device id="ACIPBTG-DR3ETXY-PK2MQ52-324PWF3-ACU4Y6W-XQLEZVD-2VXWEMO-XLZCHAQ"></device>
        <device id="5WP542P-KV7DD2B-4LWEXJD-5JPJLQT-XPS5V6A-XYB3BXP-GUVX67E-Z7SYEQF"></device>
        <versioning></versioning>
        <copiers>0</copiers>
        <pullers>0</pullers>
        <hashers>0</hashers>
        <order>random</order>
    </folder>
    <device id="5WP542P-KV7DD2B-4LWEXJD-5JPJLQT-XPS5V6A-XYB3BXP-GUVX67E-Z7SYEQF" name="kub" compression="never" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="4HYEBSB-OKMZG2S-PAKTRHN-QP5VS4T-64IQD7V-AKYTIAL-ZBQNQXJ-I3REAAB" name="paj" compression="metadata" introducer="false">
        <address>10.117.14.59:22000</address>
    </device>
    <device id="ACIPBTG-DR3ETXY-PK2MQ52-324PWF3-ACU4Y6W-XQLEZVD-2VXWEMO-XLZCHAQ" name="d1555" compression="metadata" introducer="false">
        <address>dynamic</address>
    </device>
    <device id="ELBPNTY-FE47TXX-MCKSMLM-ZCQ75MX-HZUTTOK-VZQUOKT-NI2QFFF-Y4ONTAX" name="ton" compression="metadata" introducer="true">
        <address>10.117.14.55:22000</address>
    </device>
    <gui enabled="true" tls="false">
        <address>10.117.14.54:34830</address>
        <apikey>CnHFb0tCE2ENIEvRmI510Gd7fDepgrBY</apikey>
    </gui>
    <options>
        <listenAddress>10.117.14.54:22000</listenAddress>
        <globalAnnounceServer>udp4://announce.syncthing.net:22026</globalAnnounceServer>
        <globalAnnounceServer>udp6://announce-v6.syncthing.net:22026</globalAnnounceServer>
        <globalAnnounceEnabled>false</globalAnnounceEnabled>
        <localAnnounceEnabled>false</localAnnounceEnabled>
        <localAnnouncePort>21025</localAnnouncePort>
        <localAnnounceMCAddr>[ff32::5222]:21026</localAnnounceMCAddr>
        <maxSendKbps>0</maxSendKbps>
        <maxRecvKbps>0</maxRecvKbps>
        <reconnectionIntervalS>60</reconnectionIntervalS>
        <startBrowser>false</startBrowser>
        <upnpEnabled>false</upnpEnabled>
        <upnpLeaseMinutes>0</upnpLeaseMinutes>
        <upnpRenewalMinutes>30</upnpRenewalMinutes>
        <upnpTimeoutSeconds>3</upnpTimeoutSeconds>
        <urAccepted>1</urAccepted>
        <urUniqueID>00i6PjvJ</urUniqueID>
        <restartOnWakeup>true</restartOnWakeup>
        <autoUpgradeIntervalH>0</autoUpgradeIntervalH>
        <keepTemporariesH>24</keepTemporariesH>
        <cacheIgnoredFiles>true</cacheIgnoredFiles>
        <progressUpdateIntervalS>5</progressUpdateIntervalS>
        <symlinksEnabled>true</symlinksEnabled>
        <limitBandwidthInLan>false</limitBandwidthInLan>
        <databaseBlockCacheMiB>0</databaseBlockCacheMiB>
    </options>
</configuration>
