[user]
	name = Hoàng Đức Hiếu
[color]
	ui = auto
[pack]
	threads = 0
[diff]
	renamelimit = 0
[alias]
	p = !git pull && git log --reverse --topo-order ORIG_HEAD..
	l = log -p --word-diff
	ai = add -i
	c = commit
	d = diff --word-diff
        lol = log --graph --decorate --pretty=oneline --abbrev-commit
        lola = log --graph --decorate --pretty=oneline --all

[url "git://git.kde.org/"]
    insteadOf = kde:
[url "ssh://git@git.kde.org/"]
    pushInsteadOf = kde:
