[user]
	name = Hoàng Đức Hiếu
[color]
	ui = auto
[pack]
	threads = 0
[core]
	whitespace = trailing-space,space-before-tab
[diff]
	renamelimit = 0
	renames = copies
[branch]
	autosetuprebase = always
[alias]
	pr = pull --rebase
	p = !git pr && git ml
	ml = log --reverse --topo-order ORIG_HEAD..
	l = log -p --word-diff
	s = status -s
	ap = add -p
	c = commit
	d = diff --word-diff
        lol = log --graph --decorate --pretty=oneline --abbrev-commit
        lola = log --graph --decorate --pretty=oneline --all

[url "git://anongit.kde.org/"]
    insteadOf = kde:
[url "ssh://git@git.kde.org/"]
    pushInsteadOf = kde:

[url "git://anongit.freedesktop.org/"]
    insteadOf = fdo:
[url "ssh://git.freedesktop.org/git/"]
    pushInsteadOf = fdo:

[url "git://github.com/dag/"]
     insteadOf = cll:
[url "git@github.com:hdhoang/"]
     pushInsteadOf = cll:

[filter "xmllint"]
	clean = xmllint --pretty 2 %f

[filter "stylish"]
	clean = cat > /dev/null && sqlite3 %f .dump
	# HARDCODED: Stylish's user_version as of 1.1
	smudge = sqlite3 %f && sqlite3 %f 'pragma user_version=3' && cat %f && rm %f
