<configuration version="10">
    <folder id="Dropbox" path="/home/hdhoang/Copy" ro="false" rescanIntervalS="60" ignorePerms="false" autoNormalize="true">
        <device id="ELBPNTY-FE47TXX-MCKSMLM-ZCQ75MX-HZUTTOK-VZQUOKT-NI2QFFF-Y4ONTAX"></device>
        <device id="5WP542P-KV7DD2B-4LWEXJD-5JPJLQT-XPS5V6A-XYB3BXP-GUVX67E-Z7SYEQF"></device>
        <versioning></versioning>
        <copiers>1</copiers>
        <pullers>16</pullers>
        <hashers>0</hashers>
        <order>smallestFirst</order>
    </folder>
    <folder id="Music" path="/home/hdhoang/Music" ro="false" rescanIntervalS="60" ignorePerms="false" autoNormalize="true">
        <device id="ELBPNTY-FE47TXX-MCKSMLM-ZCQ75MX-HZUTTOK-VZQUOKT-NI2QFFF-Y4ONTAX"></device>
        <device id="5WP542P-KV7DD2B-4LWEXJD-5JPJLQT-XPS5V6A-XYB3BXP-GUVX67E-Z7SYEQF"></device>
        <versioning></versioning>
        <copiers>1</copiers>
        <pullers>16</pullers>
        <hashers>0</hashers>
        <order>smallestFirst</order>
    </folder>
    <folder id="Videos" path="/home/hdhoang/Videos" ro="false" rescanIntervalS="60" ignorePerms="true" autoNormalize="true">
        <device id="ELBPNTY-FE47TXX-MCKSMLM-ZCQ75MX-HZUTTOK-VZQUOKT-NI2QFFF-Y4ONTAX"></device>
        <device id="5WP542P-KV7DD2B-4LWEXJD-5JPJLQT-XPS5V6A-XYB3BXP-GUVX67E-Z7SYEQF"></device>
        <versioning></versioning>
        <copiers>1</copiers>
        <pullers>16</pullers>
        <hashers>0</hashers>
        <order>smallestFirst</order>
    </folder>
    <folder id="dl" path="/home/hdhoang/Downloads" ro="false" rescanIntervalS="60" ignorePerms="false" autoNormalize="true">
        <device id="ELBPNTY-FE47TXX-MCKSMLM-ZCQ75MX-HZUTTOK-VZQUOKT-NI2QFFF-Y4ONTAX"></device>
        <device id="5WP542P-KV7DD2B-4LWEXJD-5JPJLQT-XPS5V6A-XYB3BXP-GUVX67E-Z7SYEQF"></device>
        <versioning></versioning>
        <copiers>1</copiers>
        <pullers>16</pullers>
        <hashers>0</hashers>
        <order>smallestFirst</order>
    </folder>
    <device id="5WP542P-KV7DD2B-4LWEXJD-5JPJLQT-XPS5V6A-XYB3BXP-GUVX67E-Z7SYEQF" name="kub" compression="metadata" introducer="false">
        <address>10.117.14.54:22000</address>
    </device>
    <device id="ELBPNTY-FE47TXX-MCKSMLM-ZCQ75MX-HZUTTOK-VZQUOKT-NI2QFFF-Y4ONTAX" name="ton" compression="never" introducer="false">
        <address>dynamic</address>
    </device>
    <gui enabled="true" tls="false">
        <address>127.0.0.1:34830</address>
        <apikey>A3NqN7pKuE1gs38ot3Qi11L6dMl6fnPS</apikey>
    </gui>
    <options>
        <listenAddress>10.117.14.55:22000</listenAddress>
        <globalAnnounceServer>udp4://announce.syncthing.net:22026</globalAnnounceServer>
        <globalAnnounceServer>udp6://announce-v6.syncthing.net:22026</globalAnnounceServer>
        <globalAnnounceEnabled>false</globalAnnounceEnabled>
        <localAnnounceEnabled>false</localAnnounceEnabled>
        <localAnnouncePort>21025</localAnnouncePort>
        <localAnnounceMCAddr>[ff32::5222]:21026</localAnnounceMCAddr>
        <maxSendKbps>0</maxSendKbps>
        <maxRecvKbps>0</maxRecvKbps>
        <reconnectionIntervalS>60</reconnectionIntervalS>
        <startBrowser>false</startBrowser>
        <upnpEnabled>false</upnpEnabled>
        <upnpLeaseMinutes>0</upnpLeaseMinutes>
        <upnpRenewalMinutes>30</upnpRenewalMinutes>
        <upnpTimeoutSeconds>3</upnpTimeoutSeconds>
        <urAccepted>1</urAccepted>
        <urUniqueID>mGAPHauj</urUniqueID>
        <restartOnWakeup>true</restartOnWakeup>
        <autoUpgradeIntervalH>12</autoUpgradeIntervalH>
        <keepTemporariesH>24</keepTemporariesH>
        <cacheIgnoredFiles>true</cacheIgnoredFiles>
        <progressUpdateIntervalS>5</progressUpdateIntervalS>
        <symlinksEnabled>true</symlinksEnabled>
        <limitBandwidthInLan>false</limitBandwidthInLan>
        <databaseBlockCacheMiB>0</databaseBlockCacheMiB>
    </options>
</configuration>
