[Unit]
Description=connman Wait Online
Requisite=connman.service

[Service]
Type=oneshot
ExecStart=/etc/systemd/connman-wait-online

User=nobody
PrivateTmp=yes
PrivateNetwork=yes
CapabilityBoundingSet=

[Install]
WantedBy=network.target
