[Unit]
After=agent.service

[Service]
Type=forking
Restart=always
ExecStart=/usr/bin/emacs --daemon
EnvironmentFile=%h/.agent-info

[Install]
WantedBy=default.target
