[Unit]
Description=Machine check event logging daemon

[Service]
ExecStartPre=-/usr/sbin/mcelog
ExecStart=/usr/sbin/mcelog --daemon --foreground
KillSignal=SIGINT

PrivateNetwork=yes
PrivateTmp=yes
InaccessibleDirectories=/home/hdhoang /mnt/cenbaz

[Install]
WantedBy=multi-user.target
