[Unit]
Description=minidlna server
After=network.target

[Service]
Type=forking
User=hdhoang
ExecStart=/usr/bin/minidlnad -P /cygdrive/h/minidlna/pid
PIDFile=/cygdrive/h/minidlna/pid

ReadOnlyDirectories=/
ReadWriteDirectories=/cygdrive/h/minidlna
Nice=15
IOSchedulingClass=idle

[Install]
WantedBy=multi-user.target
