[Unit]
Description=ssh-agent

[Service]
Type=forking
ExecStart=/bin/sh -c '/usr/bin/ssh-agent | cut -d \; -f 1 > %h/.agent-info'

[Install]
Alias=agent.service
WantedBy=default.target
