set timeout=10
set default=pmagic

set arch="archlinux-2011.07-2-archboot.iso"
set pmagic="pmagic-6.4.iso"

menuentry "memtest" {
 linux16 /memtest86+.bin
}

menuentry "archboot 32" {
  loopback loop /$arch
  linux (loop)/boot/vmlinuz
  initrd (loop)/boot/initrd.img
}

menuentry "archboot 64" {
  loopback loop /$arch
  linux (loop)/boot/vm64
  initrd (loop)/boot/initrd64.img
}

menuentry "pmagic" {
 loopback loop /$pmagic
 linux (loop)/pmagic/bzImage
 initrd (loop)/pmagic/initramfs
}
