[Timer]
OnStartupSec=23s
OnUnitActiveSec=79s
RandomizedDelaySec=49s
AccuracySec=59s

[Service]
ExecStart=%h/run/,ctia
TimeoutStartSec=30s

[Install]
WantedBy=default.target
