[Timer]
OnStartupSec=23s
OnUnitActiveSec=179s
RandomizedDelaySec=49s
AccuracySec=249s

[Service]
ExecStart=%h/run/,ctia

[Install]
WantedBy=default.target
