[Unit]
Description=Emacs

[Service]
Type=forking
Restart=always
ExecStart=/usr/bin/emacs --daemon
Environment=SSH_AUTH_SOCK=%h/.gnupg/S.gpg-agent.ssh

[Install]
WantedBy=default.target
