[Unit]
Description=Emacs

[Service]
ExecStart=/usr/bin/emacs
Environment=SSH_AUTH_SOCK=%h/.gnupg/S.gpg-agent.ssh
Restart=always
RestartSec=1sec

[Install]
WantedBy=default.target
