[Unit]
Description=Emacs GUI
After=emacs.service
Requires=emacs.service

[Service]
ExecStart=/usr/bin/emacsclient -c
Restart=on-failure
RestartSec=1sec

[Install]
WantedBy=plasma-workspace.target
