[Unit]
Description=IBus input method
After=plasmashell.service
Before=cantata.service

[Service]
ExecStart=/usr/bin/ibus-daemon --xim
ExecStop=/usr/bin/ibus exit

[Install]
WantedBy=default.target