[Unit]
Description=KDE connect

[Service]
BusName=org.kde.kdeconnect
Type=forking
ExecStart=/usr/lib/kde4/libexec/kdeconnectd
ExecStop=/usr/bin/kquitapp kdeconnect

[Install]
WantedBy=basic.target
