[Unit]
Description=KDE connect

[Service]
Type=forking
ExecStart=/usr/lib/kde4/libexec/kdeconnectd
ExecStop=/usr/bin/kquitapp kdeconnect

[Install]
WantedBy=plasma-workspace.target
