[Unit]
Description=Volume mixer

[Service]
Type=forking
ExecStart=/usr/bin/kmix
ExecStop=/usr/bin/kquitapp kmix

[Install]
WantedBy=plasma-workspace.target
