layout {
  pane split_direction="vertical" {
    pane size="60%" borderless=true
    pane command="journalctl" {
      args "--user" "-ocat" "-fu" "rescrobbled.service"
    }

    pane size=2 borderless=true {
      plugin location="zellij:status-bar"
    }
  }
}
