[Unit]
After=agent.service

[Service]
Type=forking
KillMode=none
Restart=always
ExecStart=/usr/bin/tmux new-session -d
ExecStop=/usr/bin/tmux kill-server
EnvironmentFile=%h/.agent-info

[Install]
WantedBy=default.target
