/* firefox profile chrome/userContent.css */

@-moz-document domain(last.fm) {
    .col-main { width: 100% !important; }
}

@-moz-document domain(linkedin.com) {
    aside { display: none !important; }
}

@-moz-document domain(mail.google.com) {
    [aria-label="Print all"],
    div>[role="navigation"] { display: none !important; }
}

@-moz-document domain(bucketheadpikes.bandcamp.com) {
    [href*="/album/live-"] { display: none !important; }
}

/* everywhere */
a:visited { color: VisitedText !important; }
#credential_picker_container:has(iframe[src*="accounts.google.com"]) { display: none !important; }
