/* firefox profile chrome/userContent.css */

/* everywhere */
a:visited { color: VisitedText !important; }
#credential_picker_container:has(iframe[src*="accounts.google.com"]) { display: none !important; }

@-moz-document domain(linkedin.com) {
    aside { display: none !important; }
}

@-moz-document domain(last.fm) {
    .col-main { width: 100% !important; }
}
