// -*- mode: json-ts -*-
[
  {
    "output": "Dell Inc. DELL P2422H BHFBMQ3",
    "position": "bottom",
    "modules-left": ["sway/workspaces", "sway/mode"],
    "modules-center": ["sway/window"],
    "modules-right": [
      "mpris",
      "pulseaudio",
      "memory",
      "battery",
      "network",
      "clock",
      "sway/workspaces"
    ],
    "network": {
      "interface": "wl*",
      "format-wifi": "{essid} ({signalStrength}%)"
    },
    "clock": {
      "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>",
      "format": "{:%F}"
    },
    "pulseaudio": {
      "scroll-step": 5
    },
    "mpris": {
      "format": "{player_icon} {length}",
      "format-paused": "{status_icon} <i>{length}</i>",
      "player-icons": {
        "default": "▶",
        "mpv": "🎵"
      },
      "status-icons": {
        "paused": "⏸"
      }
    }
  },
  {
    "output": "!Dell Inc. DELL P2422H BHFBMQ3",
    "modules-left": ["sway/workspaces", "sway/mode"],
    "modules-center": ["sway/window"],
    "modules-right": [
      "mpris",
      "pulseaudio",
      "tray",
      "network",
      "memory",
      "battery",
      "clock",
      "sway/workspaces"
    ],

    "sway/mode": {
      "format": "<span style=\"italic\">{}</span>"
    },
    "tray": {
      "spacing": 0
    },
    "clock": {
      "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>",
      "format": "{:%H:%M}"
    },
    "battery": {
      "states": {
        "warning": 40,
        "critical": 20
      },
      "format": "{capacity}% {icon}",
      "format-charging": "{capacity}% ",
      "format-plugged": "{capacity}% ",
      "format-alt": "{time} {icon}",
      "format-icons": ["", "", "", "", ""]
    },
    "network": {
      "interface": "wl*",
      "format-icons": ["0", "5", "9"],
      "format-wifi": "{signalStrength}%{icon}{signaldBm}dBm",
      "format-ethernet": "{ipaddr}/{cidr} ",
      "tooltip-format": "{ifname} via {gwaddr} ",
      "format-linked": "{ifname} (No IP) ",
      "format-disconnected": "Disconnected ⚠",
      "format-alt": "{ifname}: {ipaddr}/{cidr}"
    },
    "pulseaudio": {
      "scroll-step": 5,
      "format": "{volume}% {icon} {format_source}",
      "format-bluetooth": "{volume}% {icon} {format_source}",
      "format-bluetooth-muted": " {icon} {format_source}",
      "format-muted": " {format_source}",
      "format-source": "{volume}% ",
      "format-source-muted": "",
      "format-icons": {
        "headphone": "",
        "hands-free": "",
        "headset": "",
        "phone": "",
        "portable": "",
        "car": "",
        "default": ["", "", ""]
      },
      "on-click": "pavucontrol"
    },
    "mpris": {
      "format": "{player_icon} {length}",
      "format-paused": "{status_icon} <i>{length}</i>",
      "player-icons": {
        "default": "▶",
        "mpv": "🎵"
      },
      "status-icons": {
        "paused": "⏸"
      }
    }
  }
]
