[Unit]
Description=Drop-down terminal

[Service]
Type=forking
ExecStart=/usr/bin/yakuake
ExecStop=/usr/bin/kquitapp yakuake

[Install]
WantedBy=graphical.target
