[Unit]
Description=update selfoss

[Service]
Type=oneshot
ExecStart=/usr/bin/php /home/hdhoang/selfoss/update.php
ExecStartPost=/usr/bin/php /srv/http/cloudflare-update.php
User=http
