<?xml version="1.0"?>
<UserScriptConfig
  >
	<Script
      filename="un-utm_location_bar.user.js"
      name="Un-UTM Location Bar"
      namespace="userscripts.org"
      description="Strip UTM parameters from the location bar"
      version="1.05"
      enabled="true"
      runAt="document-end"
      basedir="un-utm_location_bar"
      modified="1311227931000"
      dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709"
      installurl="http://userscripts.org/scripts/source/93825.user.js"
    >
		<Include
      >http://*utm_*</Include
    >
		<Include
      >https://*utm_*</Include
    >
	</Script
  >
	<Script
      filename="youtube_autopause.user.js"
      name="Youtube Autopause"
      namespace="userscripts.org"
      description="Quick hack to try and prevent youtubes new 2010 layout from auto-playing"
      version=""
      enabled="true"
      runAt="document-end"
      basedir="youtube_autopause"
      modified="1311227931000"
      dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709"
      installurl="http://userscripts.org/scripts/source/73105.user.js"
    >
		<Include
      >http://www.youtube.com/watch?*</Include
    >
	</Script
  >
	<Script
      filename="disable_video_autoplay.user.js"
      name="Disable video autoplay"
      namespace="http://diveintomark.org/projects/greasemonkey/"
      description="Ensures that HTML5 video elements do not autoplay"
      version=""
      enabled="true"
      runAt="document-end"
      basedir="disable_video_autoplay"
      modified="1311227931000"
      dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709"
      installurl="http://diveintohtml5.org/examples/disable_video_autoplay.user.js"
    >
		<Include
      >*</Include
    >
	</Script
  >
	<Script
      filename="everysub.user.js"
      name="everySub"
      namespace="http://erinsparling.com/everySub/"
      description="everySub style for Google Reader"
      version=""
      enabled="true"
      runAt="document-end"
      basedir="everysub"
      modified="1312110786000"
      dependhash="95a11b6a8d6c02f322809f02244cd4c75e4dbbfb"
      installurl="http://erinsparling.com/everySub/everySub.user.js"
    >
		<Include
      >https://*.google.com/reader/view/*</Include
    >
		<Include
      >http://*.google.com/reader/view/*</Include
    >
		<Include
      >htt*://*.google.*/reader/view*</Include
    >
		<Require
        filename="jquerymin.js"
    />
	</Script
  >
</UserScriptConfig
>
