<?xml version="1.0"?>
<UserScriptConfig
  >
	<Script
      filename="un-utm_location_bar.user.js"
      name="Un-UTM Location Bar"
      namespace="userscripts.org"
      description="Strip UTM parameters from the location bar"
      version="1.05"
      enabled="true"
      basedir="un-utm_location_bar"
      modified="1301322790000"
      dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709"
      installurl="http://userscripts.org/scripts/source/93825.user.js"
    >
		<Include
      >http://*utm_*</Include
    >
		<Include
      >https://*utm_*</Include
    >
	</Script
  >
	<Script
      filename="disable_video_autoplay.user.js"
      name="Disable audio/video autoplay"
      namespace="http://diveintomark.org/projects/greasemonkey/"
      description="Ensures that HTML5 audio/video elements do not autoplay"
      version=""
      enabled="true"
      basedir="disable_video_autoplay"
      modified="1299670768000"
      dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709"
      installurl="http://diveintohtml5.org/examples/disable_video_autoplay.user.js"
    >
		<Include
      >*</Include
    >
	</Script
  >
	<Script
      filename="youtube_autopause.user.js"
      name="Youtube Autopause"
      namespace="userscripts.org"
      description="Quick hack to try and prevent youtubes new 2010 layout from auto-playing"
      version=""
      enabled="true"
      basedir="youtube_autopause"
      modified="1300531399000"
      dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709"
      installurl="http://userscripts.org/scripts/source/73105.user.js"
    >
		<Include
      >http://www.youtube.com/watch?*</Include
    >
	</Script
  >
	<Script
      filename="good_bad_access_key.user.js"
      name="Good Bad access key"
      namespace="zahe.me/hdhoang"
      description="add accesskey to (y)ape normal training page"
      version=""
      enabled="true"
      basedir="good_bad_access_key"
      modified="1302103075000"
      dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709"
    >
		<Include
      >http://hb4pm4eznzhd6mts.onion/pe/train.php</Include
    >
	</Script
  >
</UserScriptConfig
>
